* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ----------- header start ----------------------------  */

.bannerTitulo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

header h1 {
    display: flex;
    width: 26.1em;
    text-shadow: 2px 2px 10px grey;
    font-size: 350%;
    font-family: cursive, sans;
    justify-content: space-around;
    margin-right: 1.83em;
}

#logo {
    height: 6em;
    width: 6em;
}

.bannerImage {
    display: flex;
    justify-content: space-around;
}

.banner {
    height: 28em;
    width: 104em;
}

.texto-banner {
    position: absolute;
    font-family: cursive, sans;
    font-size: x-large;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 8px #00000067;
    padding: 15px;
    top: 2.5em;
    margin-inline-start: 56em;
}


/* ----------- header end ----------------------------  */


/* ----------- nav start ----------------------------  */

nav {
    display: flex;
    justify-content: space-around;
}

.navbar {
    display: flex;
    background-color: #4472c4;
    border-radius: 0px 0px 15px 15px;
    height: 3.5em;
    width: 104em;
    align-items: center;
}

nav a.buton {
    margin-left: 1em;
    font-family: cursive, sans;
    font-size: large;
    color: white;
    background-color: #4472c4;
    text-decoration: none;
    padding: 4px 16px;
    margin: 0 5px;
    box-shadow: 4px 3px 0px 0px #00000067;
    border-radius: 15px;
    width: auto;
    height: 2em;
}

.buton:hover {
    background-color: #70ad47;
}

.buton:focus {
    background-color: #70ad47;
}


/* ----------- nav end ----------------------------  */


/* ----------- main start ----------------------------  */

.mainAbout,
.mainContact,
.mainHome {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.home {
    margin-top: 40px;
    width: 104em;
}

article {
    font-family: cursive, sans;
    font-size: 1.4em;
    margin-left: 3.1em;
}

article p {
    margin-left: 1em;
    padding-bottom: 20px;
}

.imageIndex {
    display: flex;
    margin-top: 1em;
    width: 100em;
}

.about {
    margin-top: 40px;
    width: 104em;
}

section {
    font-family: cursive, sans;
    font-size: 1.4em;
    margin-left: 3.1em;
    margin-right: 3.1em;
}

section p {
    text-indent: 20px;
    padding-bottom: 20px;
}

.imageAbout {
    display: flex;
    margin-top: 1em;
    width: 100em;
}

.contact {
    display: flex;
    font-family: cursive, sans;
    font-size: large;
    margin-top: 40px;
    margin-right: 66em;
    flex-direction: column;
}

.contact p {
    padding-top: 14px;
}

.imageContact {
    display: flex;
    margin-top: 1em;
    width: 100em;
}

.email:hover {
    color: #000;
}

.mainRules {
    display: flex;
}

.mainRules {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.mainRules h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
}

.mainRules>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    margin-bottom: 2em;
}

dl {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    width: 36em;
}

dt {
    font-weight: bold;
    margin-bottom: 1em;
}

.parrafo {
    text-indent: 2em;
    margin-bottom: 2.5em;
}

ol {
    list-style-position: inside;
    padding-left: 0;
    font-weight: bold;
}

li {
    margin-bottom: 1.5em;
}

span {
    font-weight: normal;
}

.listGroups li {
    list-style-type: lower-alpha;
    font-weight: normal;
    margin-bottom: 0;
}

.parrafo ul {
    list-style-position: inside;
    text-indent: 0;
    list-style-type: circle;
    margin-left: 3em;
}

.mainGameInfo {
    display: flex;
}

.mainGameInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    margin-bottom: 0.8em;
}

.subtituloSubrayaado {
    font-size: 1.3em;
    text-decoration: underline;
}

.gameInfo {
    width: 48em;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

thead th:nth-child(1) {
    width: 25%;
}

thead th:nth-child(2) {
    width: 25%;
}

thead th:nth-child(3) {
    width: 22%;
}

thead th:nth-child(4) {
    width: 35%;
}

.tablaAgenda th,
td {
    text-align: left;
    padding: 10px 0px 10px 0px;
}

.mes {
    text-align: center;
}

td span {
    font-weight: bold;
}

.dato1 {
    vertical-align: bottom;
    height: 5em;
}

.dato2 {
    height: 5em;
    vertical-align: top;
}

.email {
    text-align: right;
}


/* ----------- main end ----------------------------  */