* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ----------- header start ----------------------------  */

header {
    height: 410px;
    margin: 90px 13% 0 8%;
}

.banner1 {
    display: none;
}

.banner2 {
    height: 86%;
    width: 100%;
}

#logo {
    position: absolute;
    right: 22%;
    top: 422px;
    height: 100px;
    background-color: white;
    border: solid black;
}

header h1 {
    color: rgba(255, 255, 255, 0.815);
    position: absolute;
    font-size: 450%;
    font-family: cursive, sans;
}

.texto-banner {
    color: white;
    font-family: cursive, sans;
    font-size: x-large;
    text-align: center;
    border: 2px solid #000;
    padding: 8px;
}

header h3 {
    background-color: black;
}


/* ----------- header end ----------------------------  */


/* ----------- nav start ----------------------------  */

.button {
    display: none;
}

nav {
    position: relative;
    top: -27px;
}

nav a {
    font-family: cursive, sans;
    font-size: large;
    display: block;
    margin-left: 10%;
    margin-bottom: 70px;
    color: #4472c4;
}

.menu:hover,
.menu:focus {
    text-decoration: none;
    color: black
}


/* ----------- nav end ----------------------------  */


/* ----------- main start ----------------------------  */

.imageIndex {
    position: absolute;
    top: 759px;
    margin-top: 50px;
    width: 63%;
    margin-left: 22%;
    margin-right: 20%;
}

.imageAbout {
    position: absolute;
    top: 1006px;
    margin-top: 50px;
    width: 63%;
    margin-left: 22%;
    margin-right: 20%;
}

.imageContact {
    position: absolute;
    top: 610px;
    margin-top: 50px;
    width: 63%;
    margin-left: 22%;
    margin-right: 20%;
}

main {
    margin-top: -305px;
}

article {
    font-family: cursive, sans;
    font-size: 21px;
    margin-left: 24%;
}

article p {
    margin-left: 3%;
    padding-bottom: 20px;
}

section {
    font-family: cursive, sans;
    font-size: 21px;
    margin-left: 22%;
    margin-right: 20%;
}

section p {
    text-indent: 20px;
    padding-bottom: 20px;
}

.contact {
    font-family: cursive, sans;
    font-size: large;
    margin-left: 23%;
}

.contact span a {
    display: inline;
}

.contact p {
    padding-top: 14px;
}

.email:hover {
    color: #000;
}


/* ----------- main end ----------------------------  */