* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ----------- header start ----------------------------  */

header {
    height: 410px;
    margin: 50px 100px 0px;
}

.banner {
    height: 75%;
    width: 100%;
}

#logo {
    position: relative;
    left: 15px;
    top: 50px;
    height: 100px;
}

header h1 {
    font-family: cursive, sans;
}

.texto-banner {
    font-family: cursive, sans;
    font-size: x-large;
    text-align: center;
    border: 2px solid #000;
    padding: 8px;
}


/* ----------- header end ----------------------------  */


/* ----------- nav start ----------------------------  */

nav {
    position: relative;
    top: -385px;
    margin-right: 100px;
    text-align: end;
}

nav button {
    font-family: cursive, sans;
    font-size: large;
    color: white;
    background-color: #4472c4;
    text-decoration: none;
    padding: 4px 16px;
    margin: 0 5px;
    border: 2px solid black;
    box-shadow: 4px 3px 0px 0px #00000067;
}

.button:hover {
    background-color: #70ad47;
}

.button:focus {
    background-color: #70ad47;
}


/* ----------- nav end ----------------------------  */