* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ----------- header start ----------------------------  */

header {
    height: 410px;
    margin: 90px 13% 0px 10%;
}

.banner1 {
    height: 75%;
    width: 100%;
}

.banner2 {
    display: none;
}

#logo {
    position: relative;
    left: 15px;
    top: 50px;
    height: 100px;
}

header h1 {
    font-size: 400%;
    font-family: cursive, sans;
}

.texto-banner {
    font-family: cursive, sans;
    font-size: x-large;
    text-align: center;
    border: 2px solid #000;
    padding: 8px;
}


/* ----------- header end ----------------------------  */


/* ----------- nav start ----------------------------  */

nav {
    position: relative;
    top: -345px;
    margin-right: 14%;
    text-align: end;
}

nav button {
    font-family: cursive, sans;
    font-size: large;
    color: white;
    background-color: #4472c4;
    text-decoration: none;
    padding: 4px 16px;
    margin: 0 5px;
    border: 2px solid black;
    box-shadow: 4px 3px 0px 0px #00000067;
}

.button:hover {
    background-color: #70ad47;
}

.button:focus {
    background-color: #70ad47;
}


/* ----------- nav end ----------------------------  */


/* ----------- main start ----------------------------  */

.imageContact {
    position: absolute;
    top: 76%;
    width: 76%;
    margin-left: 10%;
    margin-right: 10%;
}

.imageIndex {
    position: absolute;
    margin-left: 174px;
    left: -1%;
    top: 78%;
    width: 10%;
}

.imageAbout {
    position: absolute;
    margin-left: 174px;
    left: -1%;
    top: 78%;
    width: 10%;
}

main {
    margin-top: 3%;
}

article {
    font-family: cursive, sans;
    font-size: 21px;
    margin-left: 24%;
}

article p {
    margin-left: 3%;
    padding-bottom: 20px;
}

section {
    font-family: cursive, sans;
    font-size: 21px;
    margin-left: 22%;
    margin-right: 20%;
}

section p {
    text-indent: 20px;
    padding-bottom: 20px;
}

.contact {
    font-family: cursive, sans;
    font-size: large;
    margin-left: 23%;
}

.contact span a {
    display: inline;
}

.contact p {
    padding-top: 14px;
}

.email:hover {
    color: #000;
}


/* ----------- main end ----------------------------  */